.edit-profile {
	margin: 60px auto;
	max-width: $max-page-width;
	height: 826px;
	@include boxBorder(yes);
	display: flex;
	.list-ul {
		width: 200px;
		border-right: 1px solid #e6e6e6;
		.list-li {
			display: block;
			.list-anchor {
				padding: 16px 16px 16px 30px;
				width: 100%;
				position: relative;
				display: block;
				border: none;
				background: transparent;
				text-align: left;
				color: #262626;
				text-decoration: none;
				box-sizing: border-box;
				line-height: 20px;
				font-size: 16px;
				font-weight: 400;
				outline: none;
				cursor: pointer;
				border-left-width: 2px;
				border-left-style: solid;
				border-left-color: transparent;
				&[class*=active] {
					border-left-color:#262626;
					font-weight: 600;
				}
			}
		}
	}
	.detail-view {
		padding: 32px 60px 0;
		width: calc( 100% - 200px );
		box-sizing: border-box;
	}
	.react-router-tabs {
		position: relative;
	}
}