.container {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	z-index: 20;
	display: flex;
	justify-content: center;
	align-items: center;
	.mask {
		position: fixed;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		z-index: 21;
		background-color: rgba(0, 0, 0, 0.7);
	}
	.modal-container {
		position: relative;
		z-index: 22;
	}
}