.feed-photo {
	@include boxBorder(yes);
	width: 100%;
	max-width: $max-card-width;
	margin-bottom: 60px;
	@include breakpoint("phone") {
		background-color: transparent;
		border: 0;
		margin-bottom: 30px;
	}
	&:last-child {
		margin-bottom: 0;
	}
	.header {
		padding: 15px;
		display: flex;
		align-items: center;
		border-bottom: 1px solid $border-color;
		.image {
			width: 30px;
			height: 30px;
			border-radius: 100%;
			margin-right: 15px;
		}
		.header-column {
			display: flex;
			flex-direction: column;
			.creator {
				font-weight: 600;
				margin-bottom: 5px;
				a {
					font-weight: 600;
					text-decoration: none;
					font-size: inherit;
					color: inherit;
				}
			}
			.location {
			font-size: $small-font-size;
			}
		}
	}
	&.feed-photo-row {
		position: relative;
		border: none;
		max-width: $max-detail-card-width;
		.content-box {
			display: flex;
			align-items: flex-start;
			.feed-image {
				width: 60%;
				min-height: 435px;
				background-color: #000;
				display: flex;
				align-items: center;
				img {
					width: 100%;
					vertical-align: top;
				}
			}
			.meta {
				padding-bottom: 63px;
				width: 40%;
				min-height: 435px;
				.header {
					padding: 5px 0 15px;
				}
				.caption {
					margin-top: 15px;
				}
				.comment-input {
					position: absolute;
					right: 0;
					bottom: 0;
					padding: 0 15px;
					width: 40%;
					box-sizing: border-box;
				}
			}
			.comment-box {
				max-height: 244px;
				overflow: hidden;
				overflow-y: auto;
			}
		}
	}
	.meta {
		padding: 15px;
		padding-bottom: 0;
		padding-top: 10px;
		background-color: #fff;
		.time-stamp {
			font-size: 10px;
			color: #999;
		}
		.caption {
			font-weight: 300;
			strong {
				font-weight: 700;
			}
		}
	}
	.comment-box {
		margin: 15px 0 10px;
	}
}