.feed-photo {
	@include boxBorder(yes);
	width: 100%;
	max-width: $max-card-width;
	margin-bottom: 60px;
	@include breakpoint("phone") {
		background-color: transparent;
		border: 0;
		margin-bottom: 30px;
	}
	&:last-child {
		margin-bottom: 0;
	}
	.header {
		padding: 15px;
		display: flex;
		align-items: center;
		border-bottom: 1px solid $border-color;
		.image {
			width: 30px;
			height: 30px;
			border-radius: 100%;
			margin-right: 15px;
		}
		.header-column {
			display: flex;
			flex-direction: column;
			.creator {
				font-weight: 600;
				margin-bottom: 5px;
				a {
					font-weight: 600;
					text-decoration: none;
					font-size: inherit;
					color: inherit;
				}
			}
			.location {
			font-size: $small-font-size;
			}
		}
	}
	&.feed-photo-row {
		max-width: $max-detail-card-width;
		.contentBox {
			display: flex;
			align-items: flex-start;
			.feed-image {
				width: 60%;
				img {
					width: 100%;
					vertical-align: top;
				}
			}
			.meta {
				width: 40%;
				.header {
					padding: 5px 0 15px;
				}
				.caption {
					margin-top: 15px;
				}
			}
			.comment-box {
				height: 267px;
				overflow-x: hidden;
				overflow-y: auto;
			}
		}
	}
	.meta {
		padding: 15px;
		padding-bottom: 0;
		padding-top: 10px;
		.time-stamp {
			font-size: 10px;
			color: #999;
		}
		.caption {
			font-weight: 300;
			strong {
				font-weight: 700;
			}
		}
	}
}